section
    .container 
        .about 
            .about__left 
                h2.title Мы – самая рекомендуемая стоматология Москвы 
                p.about-p За счёт своей уникальности, клиника завоевала сердца тысяч людей  и ежегодно занимает лидирующие позиции в народных рейтингах 
                .bigstar 
                    img(src="../../img/thumb-up.svg", alt="",width="15", height="15")
            .about__right 
                .about-block 
                    p.about-text Премия 2GIS <br> Лучшая стоматология 2023 
                    img(src="../../img/star.svg", alt="", width="19", height="19")
                .about-block 
                    p.about-text ТОП 10 стоматологий Москвы по версии Коммерсант
                    img(src="../../img/star.svg", alt="", width="19", height="19")
                .about-block 
                    p.about-text Основатель клиники Вячеслав Мун стоматолог года 2019
                    img(src="../../img/star.svg", alt="", width="19", height="19")
                .about-block 
                    p.about-text Самая рекомендуемая стоматология <br> в Instagram* 2019 
                    img(src="../../img/star.svg", alt="", width="19", height="19")