section 
  .container 
    .advice 
      .advice-title 
        h2.title Нас рекомендуют
        .bigstar 
          img(src="../../img/thumb-up.svg", alt="",width="15", height="15")
      p.advice-p 70% пациентов приходят к нам на комплексные работы <span>и после нескольких посещений доверяют самых близких людей:</span> супругов, детей, родителей, друзей
      .advice__list 
        .advice__item 
          .quotes 
            img(class="main__quotes-marks", src="../../img/icons/marks.svg", alt="Вячеслав Мун", width="18", height="10")
          .advice__item-text Невероятно вежливые обходительные врачи
          .advice__item-description Слова пациентов из <span>Яндекс</span> отзывов
        .advice__item
          .quotes 
            img(class="main__quotes-marks", src="../../img/icons/marks.svg", alt="Вячеслав Мун", width="18", height="10")
          .advice__item-text Очень грамотные <br> и заинтересованы <br> в результате
          .advice__item-description Слова пациентов из <span>Яндекс</span> отзывов
        .advice__item 
          .quotes 
            img(class="main__quotes-marks", src="../../img/icons/marks.svg", alt="Вячеслав Мун", width="18", height="10")
          .advice__item-text Ювелирно делают свою работу
          .advice__item-description Слова пациентов из <span>Яндекс</span> отзывов
      .advice__img 
        img(src="../../img/advice.png", srcset="../../img/advice-2x.png 2x", alt="", width="1040",height="600")
    