section
    .container 
        .animation 
            .animation__text
                .animation__text-left 
                    h2.title Что вы получаете выбирая клинику Dr. Mun
                        img(src="", alt="")
                    p.paragraph Нам важен сам путь - ведь почему бы не сделать профессию своим любимым хобби, при котором можно нести непоправимую пользу для людей? 
                .animation__text-rigth 
                    p.description Клиника Dr. Mun - первая, кто заявляет, <span>что медицинские услуги должны быть качественными по умолчанию,</span> поэтому нашей основной задачей является вылечить пациентов не 1 раз, а на всю жизнь!
                    p.description При этом стать именно тем комфортным, атмосферным и уютным проводником между пациентом и его благодарностью после окончания всего лечения.
            .animation__block