section 
    .container 
        .drmun 
            .drmun__img 
                img(src="../../img/mun-big.png", srcset="../../img/mun-big-x2.png 2x" alt="доктор Вячеслав Мун", width="500", height="450")
            .drmun__text 
                h2 Только такой серьёзный подход к диагностике определяет правильный план лечения и гарантирует пожизненный результат!
                .drmun-author 
                    p.author Вячеслав Мун
                    p.author__descr Основатель и идейный вдохновитель стоматологический клиники “Dr. Mun”   
                img(src="../../img/rospis.svg", alt="", width="124", height="89")