section 
  .container 
    .faq 
     h2.title Ответили на важные вопросы
     p.description 8 самых часто задаваемых вопросов от пациентов
     .faq-blocks 
      details.details 
        summary.details__title Может ли увеличится стоимость после составления плана лечения на каком-то из этапов?
        .details__content 
          p
      details.details 
        summary.details__title Какие даете гарантии на лечение?
        .details__content 
          p
      details.details 
        summary.details__title Поможете оформить налоговый вычет и вернуть 13% стоимости лечения?  
        .details__content 
          p
      details.details 
        summary.details__title Лечите ли вы сотрудников организаций по полису ДМС? 
        .details__content 
          p
      details.details 
        summary.details__title Можно ли у вас лечить зубы в рассрочку?
        .details__content 
          p
      details.details 
        summary.details__title Зачем нужен персональный менеджер заботы? Кто такой куратор лечения?
        .details__content 
          p
      details.details 
        summary.details__title Почему цены на стоматологические услуги постоянно растут?
        .details__content 
          p

      
