footer 
  .container 
    .footer 
      .footer-main 
        a.logo(href="")
          img(src="../../img/logo.svg", alt="")
        a.footer-link(href="") Лицензия № ЛО-77-01-018040 от 14 мая 2019 г.
        p.inn ИНН 7702452811 ОГРН 1187746933186
        p.text © ООО «Студия Преображения». Все права защищены. Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
        p.text-about Все содержимое данного сайта является интеллектуальной собственностью компании ООО «Студия Преображения». 
        a.footer-link(href="") Политика конфиденциальности
        a.footer-link(href="") Правовая информация
      .footer-services 
        h4.footer-title Популярные услуги
        ul.service__list
          li 
            a.service__item(href="") Лечение зубов
          li 
            a.service__item(href="") Ортодонтия
          li 
            a.service__item(href="") Виниры
          li 
            a.service__item(href="") Имплантация
          li 
            a.service__item(href="") Имплантация All-on-4
          li 
            a.service__item(href="") Лечение ВНЧС
          li 
            a.service__item(href="") Лечение дёсен
      .footer-info 
        h4.footer-title Информация для пациентов
        ul.service__list
          li 
            a.service__item(href="") Гарантия на лечение
          li 
            a.service__item(href="") Система лояльности
          li 
            a.service__item(href="") Рассрочка

        ul.service__about
          li 
            a.service__item(href="") О клинике
          li 
            a.service__item(href="") Врачи
          li 
            a.service__item(href="") Цены
          li 
            a.service__item(href="") Акции
          li 
            a.service__item(href="") Примеры работ
      .footer-contact 
        h4.footer-title Контакты
      .footer-pay 
        span Принимаем к оплате
        .pay-img 
          img(src="../../img/icons/visa.svg", alt="")
          img(src="../../img/icons/mastercard.svg", alt="")
          img(src="../../img/icons/mir.svg", alt="")
          img(src="../../img/icons/spb.svg", alt="")
          img(src="../../img/icons/sberpay.svg", alt="")
      .footer-bottom ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПРОКОНСУЛЬТИРУЙТЕСЬ СО СПЕЦИАЛИСТОМ
