header.header
    .container 
        .header-top
            a.header-top__link(href="")  Москва, Проспект Мира 16, стр. 2 (м. Проспект Мира)
            .header-top__link Ежедневно с 10:00 до 21:00
            .links
                a.header-top__link(href="tel:8 (999) 999-99-99") 8 (999) 999-99-99
                .links-social
                    a.links-social__item(href="") Telegram
                        img(src="../../img/icons/tg.svg", alt="") 
                        
                    a.links-social__item(href="") WhatsApp
                        img(src="../../img/icons/wh.svg", alt="") 
                        
        .header-main
            a.logo(href="")
                img(src="../../img/logo.svg", alt="dr.mun logo", width="126", height="50")
            nav.menu
                ul.menu__list
                    a.menu__item(href="") О компании
                    a.menu__item(href="") Услуги 
                        img(src="../../img/icons/header-icon.svg", alt="icon", width="9", height="5")
                    a.menu__item(href="") Врачи
                    a.menu__item(href="") Цены
                    a.menu__item(href="") Акции
                    a.menu__item(href="") Кейсы до/после
                    a.menu__item(href="") Пациентам 
                        img(src="../../img/icons/header-icon.svg", alt="icon", width="9", height="5")
                    
            a.btn-gold(href="") Записаться
