section.main
    .container
        .main__content
            .main__text 
                h1.title Dr. Mun — клиника высоких стандартов
                p.description с персональным клиентским сервисом
                .main__quotes 
                    .main__quotes-img 
                        img(class="main__quotes-image", src="../../img/v-mun.png", srcset="../../img/v-mun-2x.png 2x" alt="Вячеслав Мун", width="150", height="150")
                        .quotes 
                            img(class="main__quotes-marks", src="../../img/icons/marks.svg", alt="Вячеслав Мун", width="18", height="10")
                    .main__quotes-text 
                        h3.main__quotes-title Лечим качественно с первого раза и на всю жизнь в комфортной атмосфере заботы и уюта
                        p.author Вячеслав Мун
                        p.author__descr Основатель и идейный вдохновитель стоматологический клиники “Dr. Mun” 
                .main__btn 
                    a.btn-gold(href="") Записаться на консультацию
                    a.link-go(href="") 
                        span Перейти к услугам <br> и ценам 
                        img(src="../../img/icons/arrow.svg", alt="")
            .main__video
