section.consult-section 
    .container  
        .consult 
            .consult__content
                .consult__left 
                    h2.title Запишитесь <br> на консультацию
                    p.consult_text По итогу которой вы:
                    ul.consult__list 
                        li.consult__item <span>Диагностику состояния ваших зубов</span> <br> с помощью КТ-снимка и фото улыбки 
                        li.consult__item <span>Экспертное мнение опытного</span> <br> специалиста
                        li.consult__item <span>План лечения</span> с описанием этапов, <br> сроков и стоимости в вашем случае
                    a.btn-gold(href="") Записаться на консультацию
                .consult__right 
                    img(src="../../img/consult-img.png", srcset="../../img/consult-img-x2.png 2x",alt="Консультация в клинике Dr.Mun", class="consult__img", width="600", height="493")
                    .consult__block 
                        .consult__block-img 
                            img(src="../../img/clipboard-list.svg", alt="", width="14", height="14")
                        .consult__block-text 
                            p.consult__block-p Стоимость первичной консультации — <span>2 500₽<span>
                            p.consult__block-p <span>5 000₽</span> до 30 октября 
            .consult__bottom <span>Спецпредложение для новых пациентов!</span> Запишитесь на консультацию до 30 октября со скидкой 50% и получите 100% кэшбек на депозит 
