section 
    .container 
        .consultation 
            .consultation__left 
                img(src="../../img/icons/flag.svg", alt="")
                p.consultation__before-text Акция месяца
                h3.title-h3  Первичная консультация <br> в ноябре за полцены
                ul.consultation__list 
                    li.consultation__item Консультация - <span> 5 000₽ </span>
                    li.consultation__item КТ-диагностика - <span> 5 000₽ </span>
                a(href="").btn-gold Записаться на консультацию

            .consultation__right 
                p.consultation__before-text Система лояльности Dr. Mun
                h3.title-h3  Вернём 100% кэшбэка <br> за консультацию
                p.consultation__after-text Начислим на ваш депозит 5 000₽, которыми <br> вы сможете оплатить до 10% счёта за лечение
                a.link-go(href="") Подробнее
                    img(src="../../img/icons/arrow.svg", alt="")
