section 
    .container  
        .consult.consult3
            .consult__content
                .consult__left 
                    h2.title Запишитесь <br> на консультацию
                    p.consult_text И узнайте цену лечения <br> в вашем случае
                    ul.consult__list 
                        li.consult__item По итогу вы получите <span>персональный план лечения</span>, в котором врач пропишет этапы, сроки и стоимость лечения
                    a.btn-gold(href="") Записаться на консультацию
                .consult__right 
                    img(src="../../img/consult2.png", srcset="../../img/consult2-2x.png 2x",alt="Консультация в клинике Dr.Mun", class="consult__img", width="600", height="453")
                    .consult__block 
                        .consult__block-img 
                            img(src="../../img/clipboard-list.svg", alt="", width="14", height="14")
                        .consult__block-text 
                            p.consult__block-p Стоимость первичной консультации — <span>2 500₽<span>
                            p.consult__block-p <span>5 000₽</span> до 30 октября 
            .consult__bottom <span>Спецпредложение для новых пациентов!</span> Запишитесь на консультацию до 30 октября со скидкой 50% и получите 100% кэшбек на депозит 
