section 
  .container 
    .question 
      .question__text 
        h2.question__title Остались вопросы?
        p.question__p Заполните форму, мы свяжемся с вами через 15 секунд — дадим грамотную консультацию и поможем с решением
        .btn-gold Получить экспресс консультацию
      .question__img 
        img(src="../../img/question.png", alt="", srcset="../../img/question-2x.png 2x", width="640", height="302")