section 
  .container 
    .photo 
      .swiper.swiper6
        .slider-button.slider-button-prev                    
          .swiper-button-prev         
            svg(width='10' height='10' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.540381 4.54038C0.28654 4.79422 0.28654 5.20578 0.540381 5.45962L4.67696 9.59619C4.9308 9.85003 5.34235 9.85003 5.59619 9.59619C5.85003 9.34235 5.85003 8.9308 5.59619 8.67696L1.91924 5L5.59619 1.32304C5.85003 1.0692 5.85003 0.657647 5.59619 0.403806C5.34235 0.149965 4.9308 0.149965 4.67696 0.403806L0.540381 4.54038ZM9 5.65C9.35899 5.65 9.65 5.35899 9.65 5C9.65 4.64101 9.35899 4.35 9 4.35V5.65ZM1 5.65H9V4.35H1V5.65Z' fill='all')
        
        .swiper-wrapper
          .swiper-slide 
            img(src="../../img/photo.png", srcset="../../img/photo-2x.png",width="1040", heigth="600")
          //- .swiper-slide 
          //-   img
          //- .swiper-slide 
          //-   img
          //- .swiper-slide 
          //-   img
          //- .swiper-slide 
          //-   img
          //- .swiper-slide 
          //-   img
        .slider-button.slider-button-next
          .swiper-button-next
            svg(width='10' height='10' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.45962 4.54038C9.71346 4.79422 9.71346 5.20578 9.45962 5.45962L5.32304 9.59619C5.0692 9.85003 4.65765 9.85003 4.40381 9.59619C4.14997 9.34235 4.14997 8.9308 4.40381 8.67696L8.08076 5L4.40381 1.32304C4.14997 1.0692 4.14997 0.657647 4.40381 0.403806C4.65765 0.149965 5.0692 0.149965 5.32304 0.403806L9.45962 4.54038ZM1 5.65C0.641015 5.65 0.35 5.35899 0.35 5C0.35 4.64101 0.641015 4.35 1 4.35V5.65ZM9 5.65H1V4.35H9V5.65Z' fill='all')            
            

          