// faq
.faq {
  border-radius: 40px;
  background: var(--color-white);
  padding: 60px;
  margin-top: 20px;
  .title {
    text-align: center;
    padding-bottom: 15px;
  }
  .description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #323232;
    padding-bottom: 50px;
  }
}

.faq-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details {
  position: relative;
  display: block;
  max-width: 1060px;
  height: 100px;
  background: #f6f6f6;
  transition: 0.7s;
  overflow: hidden;
  border-radius: 30px;
}

.details::after {
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: var(--color-white);
  transition: all 0.7s;
  cursor: pointer;
  z-index: 10;
  //background-image: url("../vendor/images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.details[open]::after {
  transform: rotate(45deg);
}

.details[open] {
  height: 100%;
}

.details[open] .details__title {
  margin-bottom: 20px;
}

.details__title {
  cursor: pointer;
  transition: all 0.7s;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: #323232;
  padding: 38px 0px 50px;
}

.details__title::-webkit-details-marker {
  display: none;
}



.details__content p:last-child {
  margin-bottom: 0;
}
.details__content p:first-child {
  margin-top: 0;
}
