extends ./../layouts/main.pug

block variables
    - const title = "Главная";
block content 
    include ./../sections/header.pug
    include ./../sections/intro.pug
    include ./../sections/about.pug
    include ./../sections/compatation.pug
    include ./../sections/benefits.pug
    include ./../sections/kons.pug
    include ./../sections/drmun.pug
    include ./../sections/konsult.pug
    include ./../sections/advice.pug
    include ./../sections/konsult2.pug
    include ./../sections/konsult3.pug
    include ./../sections/faq.pug
    include ./../sections/slider-photo.pug
    include ./../sections/contact.pug
    include ./../sections/question.pug
    include ./../sections/footer.pug
